.col-xs-1 {
  background-color: lightblue;
  border: 1px solid black;
}

th {
  background-color: lightblue;
  border: 1px solid grey;
  width: 32px;
  font-size: 10px;
}

#slot1 {
  background-color: green;
}
